* {
  color: white;
  overflow-wrap: break-word;
}
.threeJS {
  background-color: black;
}
nav {
  position: sticky;
  top: 0vh;
  z-index: 3;
  text-shadow: 2px 2px black;
  font-size: 1.8rem;
}
nav,
a {
  background-color: black;
}
.App {
  text-align: center;
  /* background-color: blueviolet; */
}

img {
  height: 70vh;
  width: 30%;
}

#landing {
  background: linear-gradient(0.25turn, #553539, purple);
  display: grid;
  grid-template-rows: 100%;
  width: 100vw;
  height: 90vh;
}

#About {
  grid-column-start: 1;
  grid-column-end: 2;
  /* width: 50vw;
  left: 0vw; */
}
#landing > img {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 50vh;
  width: 20vw;
  border-radius: 65%;
}
#About > section {
  margin: 0px auto;
  font-size: 1.25rem;
  max-width: 50vw;
}

@media screen and (max-width: 760px) {
  nav {
    font-size: 1.2rem;
  }
  section > h1 {
    font-size: 1.3rem;
  }
  section > p {
    font-size: 1.4rem;
  }
  #landing {
    background: linear-gradient(0.25turn, #553539, purple);
    display: grid;
    grid-template-rows: 100%;
    width: 100vw;
    height: 90vh;
  }
  #landing > img {
    width: 200px;
    height: 200px;
  }
  #Air,
  #Travel,
  #Resource,
  #Forum {
    width: 100vw;
  }
  #Air > h1,
  #Travel > h1,
  #Resource > h1,
  #Forum > h1 {
    font-size: 1rem;
  }
  #Air > p,
  #Travel > p,
  #Resource > p,
  #Forum > p {
    font-size: 1.5rem;
    overflow-wrap: break-word;
  }
}
@media screen and (max-width: 700px) {
  #landing {
    background: linear-gradient(0.25turn, #553539, purple);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    width: 100vw;
    height: 90vh;
  }
  #landing > img {
    grid-row: 2/-1;
    grid-column-start: 1;
    margin: 50px auto;
  }
  #About {
    grid-row: 1/2;
    margin: 0 auto;
  }
  section > p,
  section > h1 {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1000px) {
  #landing {
    grid-template-rows: 100%;
    width: 100vw;
    height: 60vh;
    margin-bottom: 0.1px;
  }
  #landing > img {
    width: 70%;
    margin: 0 auto;
  }
  #About {
    width: 100%;
  }

  #About > section {
    font-size: 1.2rem;
    text-align: center;
  }
  nav {
    font-size: 2.8rem;
  }
}
