#Resume {
  height: 100vh;
  /* background-image: url("/public/pexels-space.jpeg"); */
  background: linear-gradient(0.25turn, #553539, purple);
  position: relative;
  top: 0vh;
}
#Resume > nav > a {
  text-decoration: none;
}
