.Skills {
  /* background-color: black; */
  background: linear-gradient(0.25turn, #553539, purple);
}
.Skills > h1 {
  margin: 0 0;
  font-size: 90px;
}
#IconContainer > img {
  height: 20vh;
  width: calc(100vw / 3);
}
#IconContainer > #StyledComponents {
  height: 20vh;
  width: calc(100vw / 3);
}

#last {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
#last > img,
#last > #StyledComponents > svg {
  height: 20vh;
  width: calc(100vw / 3);
}
#StyledComponents {
  width: calc(100vw / 3);
}
